/* 常量 */
/*基础样式*/
body {
  font-family: Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
  color: #333;
}
a:hover,
a:active,
a:link {
  text-decoration: none;
}
/* 前方蒙版 */
.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.full-screen > li {
  width: 100%;
  height: 10%;
  background-repeat: no-repeat;
  background-size: 100% 1000%;
  -webkit-transition: 400ms;
          transition: 400ms;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.full-screen > li:nth-child(1) {
  background-position: 0 0;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.full-screen > li:nth-child(2) {
  background-position: 0 11.1%;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.full-screen > li:nth-child(3) {
  background-position: 0 22.2%;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.full-screen > li:nth-child(4) {
  background-position: 0 33.3%;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.full-screen > li:nth-child(5) {
  background-position: 0 44.4%;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.full-screen > li:nth-child(6) {
  background-position: 0 55.5%;
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.full-screen > li:nth-child(7) {
  background-position: 0 66.6%;
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.full-screen > li:nth-child(8) {
  background-position: 0 77.7%;
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.full-screen > li:nth-child(9) {
  background-position: 0 88.8%;
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.full-screen > li:nth-child(10) {
  background-position: 0 99.9%;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}
.full-screen.current > li {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.full-screen.essay > li {
  background-color: #1abc9c;
  background-image: none;
}
.full-screen.css > li {
  background-color: #f39c12;
  background-image: url(../images/css-background.jpg);
}
.full-screen.index > li {
  background-color: #f39c12;
  background-image: url(../images/index-background.jpg);
}
/* index-area 样式 */
.index-header {
  width: 1200px;
  margin: 20px auto 0;
  text-align: center;
}
.index-header > * {
  float: left;
  margin-right: 28px;
  border-radius: 50%;
}
.index-logo {
  width: 200px;
  height: 200px;
  padding: 38px;
  font-size: 46px;
  font-weight: 700;
  color: #666;
  text-shadow: 2px 2px 0 #fff, 4px 4px 0 #666;
  background: #fff;
  box-shadow: 0 0 15px #333;
}
.index-logo:hover {
  color: #666;
}
.index-nav {
  position: relative;
  width: 130px;
  height: 130px;
  margin-top: 20px;
  font-size: 28px;
  line-height: 130px;
  color: #fff;
  cursor: pointer;
}
.index-nav:before {
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  margin: 5%;
  content: "";
  border: 0;
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  border-radius: 50%;
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.index-nav:hover {
  color: #fff;
}
.index-nav:hover:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.index-nav-01 {
  background: #e74c3c;
}
.index-nav-02 {
  background: #f39c12;
}
.index-nav-03 {
  background: #1abc9c;
}
.index-nav-04 {
  background: #3498db;
}
.index-nav-05 {
  background: #8e44ad;
}
.index-nav-06 {
  background: #2c3e50;
}
/* top-area & bottom-area */
.top-screen,
.bottom-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
.bottom-screen {
  z-index: 900;
}
/* essay 效果 */
.essay-area {
  width: 100%;
  height: 100%;
}
.essay-main {
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 80px;
}
.essay-main-box {
  width: 980px;
  min-height: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 30px #555;
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
.essay-main-banner {
  width: 100%;
  height: 240px;
  background: url(../images/essay-banner.jpg) no-repeat center center;
  background-size: cover;
}
.essay-main-menus {
  height: 60px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.essay-main-menus > li:not(.home-btn) {
  display: inline-block;
  height: 46px;
  padding: 0 5px;
  margin: 7px 20px;
  font-size: 18px;
  line-height: 46px;
  color: #999;
  vertical-align: top;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  -webkit-transition: .5s;
          transition: .5s;
}
.essay-main-menus > li:not(.home-btn).current {
  color: #1abc9c;
  border-bottom: 4px solid #999;
}
.essay-main-menus > li:not(.home-btn):hover {
  border-bottom: 4px solid #999;
}
.essay-main-menus .home-btn {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-top: 0;
  cursor: pointer;
  -webkit-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
          transform: translateY(-60px);
  /* 主菜单变形 */
}
.essay-main-menus .home-btn .index-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 28px;
  line-height: 140px;
  color: #fff;
  background: #1abc9c;
  border: 4px solid #fff;
  border-radius: 50%;
}
.essay-main-menus .home-btn .index-btn:before,
.essay-main-menus .home-btn .index-btn:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "随笔";
  opacity: 1;
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.essay-main-menus .home-btn .index-btn:after {
  content: "返回";
  opacity: 0;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.essay-main-menus .home-btn .index-btn:hover:before {
  opacity: 0;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}
.essay-main-menus .home-btn .index-btn:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.essay-main-menus .home-btn .index-logo {
  display: none;
}
.essay-main-menus .home-btn .index-nav-03 {
  display: none;
}
.essay-main-menus .home-btn .index-header > * {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -40px 0 0 -40px;
  font-size: 18px;
  line-height: 70px;
  -webkit-transition: .3s;
          transition: .3s;
}
.essay-main-menus .home-btn .index-nav-01 {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.essay-main-menus .home-btn .index-nav-02 {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.essay-main-menus .home-btn .index-nav-04 {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.essay-main-menus .home-btn .index-nav-05 {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.essay-main-menus .home-btn .index-nav-06 {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.essay-main-menus .home-btn:hover .index-nav-01 {
  -webkit-transform: translate(-126px, -41px);
      -ms-transform: translate(-126px, -41px);
          transform: translate(-126px, -41px);
}
.essay-main-menus .home-btn:hover .index-nav-02 {
  -webkit-transform: translate(-77px, -105px);
      -ms-transform: translate(-77px, -105px);
          transform: translate(-77px, -105px);
}
.essay-main-menus .home-btn:hover .index-nav-04 {
  -webkit-transform: translate(0, -130px);
      -ms-transform: translate(0, -130px);
          transform: translate(0, -130px);
}
.essay-main-menus .home-btn:hover .index-nav-05 {
  -webkit-transform: translate(77px, -108px);
      -ms-transform: translate(77px, -108px);
          transform: translate(77px, -108px);
}
.essay-main-menus .home-btn:hover .index-nav-06 {
  -webkit-transform: translate(126px, -41px);
      -ms-transform: translate(126px, -41px);
          transform: translate(126px, -41px);
}
.current.essay-area .essay-main-box {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
/* css 效果 */
.css-area {
  height: 100%;
  background: #f1eff0;
}
.css-left-nav {
  width: 250px;
  height: 100%;
  background: #232b2e;
  box-shadow: 0 0 30px #000;
}
.css-left-nav .index-header {
  width: 100%;
  margin: 0;
}
.css-left-nav .index-header > * {
  float: none;
  margin: 0;
  border-radius: 0;
}
.css-left-nav .index-nav {
  width: 100%;
  height: 50px;
  padding-right: 24px;
  margin: 0;
  font-size: 20px;
  line-height: 50px;
  color: rgba(255, 255, 255, .8);
  text-align: right;
  text-shadow: 1px 1px 3px #666;
  background: -webkit-linear-gradient(top, #343c3f, #2c3437);
  background:         linear-gradient(to bottom, #343c3f, #2c3437);
  -webkit-transition: .3s;
          transition: .3s;
}
.css-left-nav .index-nav:before {
  display: none;
}
.css-left-nav .index-logo {
  width: 100%;
  height: 100px;
  padding: 0;
  font-size: 40px;
  font-weight: normal;
  line-height: 100px;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.css-left-nav .index-nav:hover,
.css-left-nav .index-nav-02 {
  color: #fff;
  background: -webkit-linear-gradient(top, #f5b043, #f39c12);
  background:         linear-gradient(to bottom, #f5b043, #f39c12);
}
